<!DOCTYPE html>
<html>
<body>


<form action="{% url 'search' %}" method="GET">
    {%  csrf_token %}
    Search:
    <input name="name" type="text" placeholder="Search by name...">
</form>
<br>


<form action="{% url 'filter' %}" method="GET">
    {%  csrf_token %}
    Rating:
    <input name="rating" type="number" min="0" max="5" step="0.5">
    Capacity:
    <input name="capacity" type="number" min="0" step="10">
    Occupancy:
    <input name="occupancy" type="number" min="0" step="10">
    <input type="submit" value="Filter">
</form>
<br>


<form method="GET" action="{% url 'sort' %}">
    {% csrf_token %}
        <select name="sort_type">
            <option value="rating">Rating</option>
            <option value="capacity">Capacity</option>
            <option value="occupancy">Occupancy</option>
        </select>
        <select name="sort_order">
            <option value="low_high">Low to High</option>
            <option value="high_low">High to Low</option>
        </select>
    <input type="submit" value="Sort">
</form>
<br>

<form method="GET" action="{% url 'recommend' %}">
    {% csrf_token %}
    <input type="submit" value="Get a recommendation from current list">
</form>
<br>

<table border="1">
    <tr>
        <td>Index</td>
        <td>Bar Name</td>
        <td>Rating</td>
        <td>Capacity</td>
        <td>Occupancy</td>
    </tr>
    {% for bar in bar_list %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="/YH15/{{ bar.id }}/">{{ bar.bar_name }}</a></td>
        <td>{{ bar.bar_rating }}</td>
        <td>{{ bar.bar_capacity }}</td>
        <td>{{ bar.bar_occupancy }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
