<!DOCTYPE html>
<html>
<head>
    <title>Sort Result</title>
</head>
<body>

<br>
<a class="btn btn-primary" href="/YH15/">Back to Homepage</a>
<br>

<form method="GET" action ="{% url 'recommend' %}">
    {% csrf_token %}
    <input type="submit" value="Get a recommendation from the current list">
</form>
<br>

<table border="1">
    <tr>
        <td>Index</td>
        <td>Bar Name</td>
        <td>Rating</td>
        <td>Capacity</td>
        <td>Occupancy</td>
    </tr>
    {% for bar in bar_list %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="/YH15/{{ bar.id }}/">{{ bar.bar_name }}</a></td>
        <td>{{ bar.bar_rating }}</td>
        <td>{{ bar.bar_capacity }}</td>
        <td>{{ bar.bar_occupancy }}</td>
    </tr>
    {% endfor %}
</table>


</body>
</html>